.card-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 16px;
    border-radius: 12px;
  }

.padding-15 {
    padding: 15px;
}

.margin-bot-top-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
  
  .icon {
    font-size: 85px; /* Aumenta o tamanho do ícone */
    width: 100px; /* Aumenta a largura da área do ícone */
    height: 100px;
  }
  .icon-gren-1{
    color: #00a65a ;
  }
  
  .icon-blue-1{
    color: #0073b7  ;
  }
  .icon-orange-1{
    color: #ff851b   ;
  }
  .icon-red-1{
    color: #dd4b39    ;
  }

  
  .text-container {
    flex: 1; /* Ocupa o espaço restante horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .text {
    text-align: center; /* Centraliza o texto horizontalmente */
    /* font-size: 12px; */
  }

  .centered-span {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

 .span-info {
    font-size: 40px; 
    margin: 14px;
 }

  .bold-text {
    font-weight: bold;
  }
