<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title">Gerenciar Administradores e Usuários</h4>
              </div>
              <div class="col-md-4">
                <button mat-raised-button class="btn btn-warning btn-raised float-right" data-toggle="modal"
                  data-target="#myModal">
                  Cadastrar usuário
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width: 100%">
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                    <th>{{ dataTable.headerRow[3] }}</th>
                    <th>{{ dataTable.headerRow[4] }}</th>
                    <th class="disabled-sorting text-right">
                      {{ dataTable.headerRow[5] }}
                    </th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{{ dataTable.footerRow[0] }}</th>
                    <th>{{ dataTable.footerRow[1] }}</th>
                    <th>{{ dataTable.footerRow[2] }}</th>
                    <th>{{ dataTable.footerRow[3] }}</th>
                    <th>{{ dataTable.footerRow[4] }}</th>
                    <th class="text-right">{{ dataTable.footerRow[5] }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td class="text-right">
                      <button mat-raised-button class="btn btn-warning btn-raised btn-round btn-fab" data-toggle="modal"
                        data-target="#myModal">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button class="btn btn-danger btn-raised btn-round btn-fab"
                        (click)="excluirUsuario(row)">
                        <i class="material-icons">delete_forever</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>

  <!-- Classic Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          <form class="form" [formGroup]="form" action="" method="">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width has-label"
                  [ngClass]="{ 'has-success': validTextType === true }"
                  [ngClass]="displayFieldCss(form, 'nomeCompleto')">
                  <input type="text" placeholder="Nome Completo" matInput id="nomeCompleto"
                    formControlName="nomeCompleto" />
                  <app-field-error-display [displayError]="isFieldValid(form, 'nomeCompleto')"
                    errorMsg="Campo obrigatório">
                  </app-field-error-display>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width" [ngClass]="{ 'has-success': validEmailType === true }">
                  <input type="email" placeholder="E-mail" matInput [errorStateMatcher]="matcher"
                    (ngModelChange)="emailValidationType($event)" formControlName="email" />
                  <mat-error *ngIf="
                      emailFormControl.hasError('email') &&
                      !emailFormControl.hasError('required')
                    ">
                    Digite um E-mail válido
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    E-mail é obrigatório
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width has-label"
                  [ngClass]="{ 'has-success': validNumberType === true }" [ngClass]="displayFieldCss(form, 'whatsapp')">
                  <input type="text" name="whatsapp" placeholder="Whatsapp Business" matInput
                    (ngModelChange)="numberValidationType($event)" formControlName="whatsapp" 
                    [brmasker]="{phone: true}"/>
                  <app-field-error-display [displayError]="isFieldValid(form, 'whatsapp')"
                    errorMsg="Digite um Whatsapp!">
                  </app-field-error-display>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width has-label"
                  [ngClass]="{ 'has-success': validTextType === true }" [ngClass]="displayFieldCss(form, 'usuario')">
                  <input type="text" placeholder="Usuário" matInput id="usuario"
                    (ngModelChange)="textValidationType($event)" formControlName="usuario" />
                  <app-field-error-display [displayError]="isFieldValid(form, 'usuario')" errorMsg="Campo obrigatório">
                  </app-field-error-display>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width" [ngClass]="{ 'has-success': validSourceType === true }"
                  [ngClass]="displayFieldCss(form, 'password')">
                  <input type="text" placeholder="Senha" matInput name="idSource"
                    (ngModelChange)="sourceValidationType($event)" formControlName="password" />
                  <app-field-error-display [displayError]="isFieldValid(form, 'password')" errorMsg="Campo obrigatório">
                  </app-field-error-display>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width" [ngClass]="{ 'has-success': validDestinationType === true }"
                  [ngClass]="displayFieldCss(form, 'confirmPassword')">
                  <input type="text" placeholder="Repetir a senha" matInput name="idDestination"
                    (ngModelChange)="confirmDestinationValidationType($event)" formControlName="confirmPassword" />
                  <app-field-error-display [displayError]="isFieldValid(form, 'confirmPassword')"
                    errorMsg="As senhas devem ser iguais">
                  </app-field-error-display>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button mat-raised-button type="button" class="btn btn-danger btn-link" 
          data-dismiss="modal" (click)="limparModal()">
            Cancelar
          </button>
          <button mat-raised-button type="button" class="btn btn-success btn-link"
          (click)="cadastrar()">
            Cadastrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
</div>