<div class="">
    <div class="page-header pricing-page header-filter"
        style="background-image: url('./assets/img/login/1.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="main-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">insert_chart</i>
                                    </div>
                                    <h4 class="card-title">Dados Gerais - Nome do Cliente</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-warning card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">weekend</i>
                                                    </div>
                                                    <p class="card-category">FORMULÁRIOS PREENCHIDOS</p>
                                                    <h3 class="card-title">184</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-rose card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">equalizer</i>
                                                    </div>
                                                    <p class="card-category">CONTATOS POR WHATSAPP</p>
                                                    <h3 class="card-title">75.521</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-success card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">store</i>
                                                    </div>
                                                    <p class="card-category">LIGAÇÕES</p>
                                                    <h3 class="card-title">$34,245</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-info card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="fa fa-twitter"></i>
                                                    </div>
                                                    <p class="card-category">TOTAL DE CONTATOS</p>
                                                    <h3 class="card-title">+245</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-warning card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">weekend</i>
                                                    </div>
                                                    <p class="card-category">MÉDIA CONTATOS POR DIA</p>
                                                    <h3 class="card-title">184</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-rose card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">equalizer</i>
                                                    </div>
                                                    <p class="card-category">ANÚNCIOS / CONTATO</p>
                                                    <h3 class="card-title">75.521</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-success card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">store</i>
                                                    </div>
                                                    <p class="card-category">CLIQUES / CONTATO</p>
                                                    <h3 class="card-title">$34,245</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-info card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="fa fa-twitter"></i>
                                                    </div>
                                                    <p class="card-category">% CONTATOS / ACESSOS</p>
                                                    <h3 class="card-title">+245</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-info card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="fa fa-twitter"></i>
                                                    </div>
                                                    <p class="card-category">CUSTO POR CONTATO</p>
                                                    <h3 class="card-title">+245</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-info card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="fa fa-twitter"></i>
                                                    </div>
                                                    <p class="card-category">CLIQUES PERSONALIZADOS LP</p>
                                                    <h3 class="card-title">+245</h3>
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="container">
                <nav class="pull-left">
                    <!-- <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
            </ul> -->
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    {{test | date: 'yyyy'}}, feito com o <i class="material-icons">favorite</i> pela
                    <a href="https://www.win7.com.br/" target="_blank">Win 7</a>.
                </div>
            </div>
        </footer>
    </div>
</div>