<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">insert_chart</i>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Dados de Resultado</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-gren-1">mail</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>FORMULÁRIOS PREENCHIDOS</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-gren-1">sms</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>CONTATOS POR WHATSAPP</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-gren-1">call</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>LIGAÇÕES</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-gren-1">apps</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>TOTAL DE CONTATOS</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-blue-1">apps</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>MÉDIA CONTATOS POR DIA</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-blue-1">menu</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>ANÚNCIOS / CONTATO</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-blue-1">contact_phone</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>CLIQUES / CONTATO</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-blue-1">trending_up</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>% CONTATOS / ACESSOS</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-orange-1">attach_money</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>CUSTO POR CONTATO</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-orange-1">ads_click</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>CLIQUES PERSONALIZADOS LP</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">query_stats</i>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Dados Estatísticos</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-blue-1">menu</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>QUANTIDADE DE ANÚNCIOS</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-blue-1">open_in_browser</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>ACESSOS AO SITE</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-blue-1">trending_up</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>% ACESSOS / ANÚNCIOS (CTR)</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-red-1">close</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>CLIQUES INVÁLIDOS</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-orange-1">attach_money</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>CUSTO TOTAL</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-md-9 margin-bot-top-15">
                                    <mat-card class="card-container">
                                        <mat-icon class="icon icon-orange-1">attach_money</mat-icon>
                                        <div class="text-container">
                                            <div class="text">
                                                <div class="row">
                                                    <span>CUSTO POR CLIQUE (CPC)</span>
                                                </div>
                                                <div class="row">
                                                    <span class="centered-span bold-text span-info">12</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>